* {
  box-sizing: border-box;
}

html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
}

#pad {
  color: blue;
  border: 1px solid black;

  width: 400px;
  height: 400px;
}